<section class="list">
  <h1>Git {{posts[0].user.login}}'s Gist! <span class="logo"><img ng-src="{{posts[0].user.avatar_url}}"></span></h1>
  <ul class="unstyled">
    <li ng-repeat="post in posts">
      <h3><span class="created">
        {{ post.created_at | date:"MM/dd/yyyy" }}
        <b>{{ post.created_at | date:"@ h:mma" }}</b>
      </span>
      <a ng-repeat="file in post.files" href="" ng-click="readPost({{post.id}})" >{{file.filename}}</a>
      </h3>
      <p class="content">{{post.description}}</p>
      <!-- <p><a class="btn" href="" ng-click="readPost({{post.id}})">Read More</a></p> -->
    </li>
  </ul>
</section>