<section class="post">
  <div>    
    <div ng-repeat="file in post.files">
      <h3>
        <span class="created">
          {{ post.created_at | date:"MM/dd/yyyy" }}
          <b>{{ post.created_at | date:"@ h:mma" }}</b>
        </span>
        {{file.filename}} 
      </h3>
      <div class="content">
        <markdown>
          {{file.content}}
        </markdown>
       <button class="btn" ng-click="navBack()">Back to List</button>
       <a class="btn btn-info" href="{{editUrl}}" target="_blank">Edit</a>
      </div>
      
  </div>
  
  
</section>